@CHARSET "UTF-8";

td .mod_peerassessment .ratingtable,
.ratingcell,
.ratingcell  {
    text-align:center;
    padding:7px;
} 

th .ratingcell {
    padding:3px;
}

.mod_peerassessment .self {
    font-weight:bolder;
}

.ratingcell .exceedlowerbounds {
    color: red;
}

.ratingcell .exceedupperbounds {
    color: green;
}
.mod_peerassessment.suppresstransposewarning {
    cursor:pointer;
}