{{!
@template mod_peerassessment/ratings
Displays Ratings table
}}
<table class='table-responsive mod_peerassessment ratingtable'>
<thead>
<tr><th colspan="2">V Awarded To </th><th colspan="{{membercount}}">Awarded By</th></tr>
<tr><th colspan="2">Name</th>
{{! TODO loop through the values and display a header for each one }}
{{#members}}
<th>{{lastname}}, {{firstname}}</th>
{{/members}}
<th>Average Received</th>
</tr>
</thead>
<tbody>
{{#members}} 
<tr>
<td>{{{userpicture}}}</td>
<th>{{lastname}}, {{firstname}}</th>
{{#ratings}}
<td class='ratingcell'>
{{{rating}}}
</td>
{{/ratings}}
<td class='ratingcell'>{{averagerating_received}}</td>
</tr>
{{/members}}
<tr>
<th colspan="2">Average Given</th>
{{#members}}
<td class='ratingcell'>{{averagerating_given}}</td>
{{/members}}
</tr>
</tbody>
</table>