{{!
@template mod_peerassessment/view
Template for view.php
}}
<h2>{{name}} {{groupname}}</h2>
{{#errors}}
<div class="errormessage bg-danger">
<p>The following errors were found.</p>
<div>
<ul>
<li>{{{.}}}</li>
</ul>
</div>
</div>
{{/errors}}
{{#group}}
	{{#intro}}
		{{{intro}}}
	{{/intro}}
	{{#readonly}}
        {{>mod_peerassessment/userratings}}
	{{/readonly}}
	{{^readonly}}
        {{#hasrated}}
            <div class="alert alert-block alert-info">
            {{#str}}alreadyrated, peerassessment{{/str}}
            </div>
            {{>mod_peerassessment/userratings}}
        {{/hasrated}}
        {{^hasrated}}
             {{#hasexpired}}
             <div class="alert alert-block alert-danger">
             {{# str}} toolate, peerassessment {{/str}}
             </div>
             {{/hasexpired}}
        {{/hasrated}}
        {{#canrate}}
            {{#allowratechange}}
            <h3>Change your rating</h3>
            You are permitted to change your rating until {{duedate}}.
            {{/allowratechange}}
            {{>mod_peerassessment/rateui}}
        {{/canrate}}
		{{^canrate}}
			{{#canmanage}}
				<div class='well'>
				You are a member of staff. Use the "View Report' button to view.
				{{{viewreportbutton}}}
				</div>
			{{/canmanage}}
            {{{backlink}}}
		{{/canrate}}
	{{/readonly}}
{{/group}}
{{^group}}
<P>You are not a member of a  group.</p>
{{#canmanage}}
<p class="bg-info">You can access the reports for this activity via the "View Report" button in the top right of this screen.</p>
{{/canmanage}}
{{/group}}